*{
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url('bg.jpeg'); */
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}

.startmenu{
    position: absolute;
    /* bottom: 41px; */
    bottom: -650px;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in;
}
.startmenu img{
    border-radius: 8px;
}
.taskbar{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f3f3f3;
}
.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}
.icons img{
    position: absolute;
    top: 20px;
    width: 80px;
}
.icons1 img{
    position: absolute;
    top: 90px;
    left: 15px;
    width: 46px;
}
